@{
  string markdownPath = Document.Destination.ChangeExtension("md").ToString();
  string gitHubRepoUrl = "https://github.com/TheFreezeTeam/TheFreezeTeamBlog";
  string gitHubEditBaseUrl = $"{gitHubRepoUrl}/edit/master/Source/TheFreezeTeamBlog/input/{markdownPath}";
  string gitHubEditUrl = $"{gitHubEditBaseUrl}{markdownPath}";
  Uri gitHubEditUri = new Uri(gitHubEditUrl);

  string description = Document.GetString(WebKeys.Description);
  string author = Document.GetString(WebKeys.Author);
  string siteTitle = Document.GetString(TftKeys.SiteTitle);
  string pageTitle = Document.GetString(TftKeys.PageTitle);
  string postImageUrl = Document.GetString(TftKeys.PostImageUrl);

  var rssFeeds = Outputs["**/*.rss"];
  var atomFeeds = Outputs["**/*.atom"];
  string link = Document.GetLink(true);
  string faviconLink = @Context.GetLink("/favicon.ico");

  string excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);

  var image = Document.GetString(WebKeys.Image);

  int readTime = excerpt != null ? (excerpt.Length / 50) : 0;
  string authorName = Model.GetString(WebKeys.Author);
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  @if (description != null)
  {
    <meta name="description" content=@description>
    <meta property="og:description" content=@description />
    <meta name="twitter:description" content=@description />
  }
  @if (author != null)
  {
    <meta name="author" content=@author>
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content=@author />
  }

  <title>@pageTitle</title>

  <link rel="canonical" href="@link">
  @{
    @foreach (IDocument rssFeed in rssFeeds)
    {
      var rssTitle = rssFeed.GetString(WebKeys.Title);
      var rssLink = rssFeed.GetLink();

      <link type="application/rss+xml" rel="alternate" title=@rssTitle href=@rssLink />
    }
    @foreach (IDocument atomFeed in atomFeeds)
    {
      var atomTitle = atomFeed.GetString(WebKeys.Title);
      var atomLink = atomFeed.GetLink();

      <link type="application/atom+xml" rel="alternate" title=@atomTitle href=@atomLink />
    }
  }
  <meta property="og:site_name" content="@siteTitle />
  <meta name="application-name" content="@siteTitle />
  <meta name="msapplication-tooltip" content="@siteTitle  />
  <meta name="msapplication-starturl" content="@Context.GetLink("/")" />

  @* TODO: More social graph meta tags *@
  <meta property="og:title" content="@pageTitle  />
  <meta name="twitter:title" content="@pageTitle  />
  @if (postImageUrl != null)
  {
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="@postImageUrl" />
  <meta property="og:image:url" content="@postImageUrl" />
  <meta property="twitter:image" content="@postImageUrl" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="512" />
  }
  <meta property="og:type" content="article" />
  <meta property="og:url" content="@link" />
  <meta name="twitter:url" content="@link" />
  <link rel="shortcut icon" href=@faviconLink type="image/x-icon">
  <link rel="icon" href=@faviconLink type="image/x-icon">
  <link href="/css/Site.css" rel="stylesheet" type="text/css">
  <link href="/resource/js/prismjs/prism.css" rel="stylesheet" />

  @Html.Partial("_head")
  @RenderSection("Head", false)
</head>

@{
  string topMargin = "";
  if (image != null)
  {
    topMargin = "-mt-32";
  }
}
<body class="bg-white font-sans leading-normal tracking-normal">
  <script src="~/resource/js/prismjs/prism.js"></script>
  <!-- Page Header -->

  @RenderSectionOrPartial("Header", "_header")

  <!-- Navigation -->
  <div class="lg:container lg:px-4 lg:px-0 lg:max-w-6xl mx-auto @topMargin">
    <div class="mx-0 sm:mx-6">
      <!-- Main Content -->
      <div class="container lg:max-w-6xl mx-auto">
        <div class="mx-0 sm:mx-6">
          <div id="postType" class="bg-white w-full lg:p-10 p-4 text-gray-800 font-light">
            <div class="flex justify-end -mt-4 mb-6 text-sm font-normal">
              <div>
                @if (!string.IsNullOrEmpty(Document.GetString("SubFolderName")))
                {
                  <a class="flex" href="@gitHubEditUri" target="_blank">
                    Edit This Page
                    <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                  </a>
                }
                else
                {
                  <a class="flex" href="https://github.com/TheFreezeTeam/TheFreezeTeamBlog/edit/master/Source/TheFreezeTeamBlog/input/posts/@(Document.GetString("DocumentName")).md" target="_blank">
                    Edit This Page
                    <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                  </a>
                }
              </div>
            </div>
            @RenderBody()
          </div>
        </div>
      </div>
      @Html.Partial("_post-footer")
      <!-- Footer -->
      @Html.Partial("_subscription")
    </div>
  </div>
  @Html.Partial("_footer")

  @Html.Partial("_scripts")

  @RenderSection("Scripts", false)

  <!-- Custom scripts for this template -->
</body>
</html>
