@model IDocument

@{
    string excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);
    string imageUrl = "/images/" + Model.GetString(WebKeys.Image);
    int readTime = excerpt.Length / 50;
    string authorName = Model.GetString("Author");
}

<div class="transition duration-500 ease-in-out md:flex h-full bg-white rounded-lg overflow-hidden shadow-lg transform hover:-translate-y-1 hover:scale-100">
    @if (imageUrl != "/images/")
    {
      <div class="w-full md:w-2/3 rounded">
        <img src="@imageUrl" class="h-full w-full shadow object-cover">
      </div>
      <div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink">
        <a href="@Context.GetLink(Model)" class="flex flex-wrap no-underline hover:no-underline">
          <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden">
            <p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">
              @Model.GetDateTime(WebKeys.Published).ToLongDateString()
            </p>
            <div class="w-full font-bold text-xl text-gray-900 px-6">@Model.GetString(WebKeys.Title)</div>
            <p class="pt-2 text-gray-800 font-serif text-base px-6 mb-5">@excerpt</p>
          </div>
          </a>
          <div class="mt-auto bg-white rounded-b rounded-t-none overflow-hidden p-6">
            <div class="flex items-center justify-between">
              @if (!string.IsNullOrEmpty(authorName))
              {
                <p class='tooltip'>
                <a href="/author/@Context.GetLink(Model.GetString(WebKeys.Author).Replace(" ","-").ToLower())"><img src="@Model.GetString("AuthorImage")" class="h-8 w-8 rounded-full object-cover object-cover"></a> <span class='tooltip-text bg-black text-gray-100 text-sm p-3 -mt-16 -ml-4 rounded'>@Model.GetString("Author")</span>
              </p>
              } else
              {
                <p></p>
              }
              <p class=" text-xs lg:text-xs font-bold text-gray-300">@readTime MIN READ</p>
            </div>
          </div>
      </div>
    }
    else
    {
      <div class="w-full">
        <a href="@Context.GetLink(Model)">
        <p class="text-gray-600 text-xs md:text-sm pt-6 px-6 pb-4">@Model.GetDateTime(WebKeys.Published).ToLongDateString()</p>
        <div class="font-bold text-xl text-gray-900 px-6">@Model.GetString(WebKeys.Title)</div>
        <p class="pt-2 text-gray-800 text-base px-6 mb-5 pl-8">@excerpt</p>
        </a>
        <div class="mt-auto bg-white rounded-b rounded-t-none overflow-hidden p-6">
            <div class="flex items-center justify-between">
              <p class='tooltip'>
                <a href="/author @Context.GetLink(Model.GetString(WebKeys.Author).Replace(" ","-").ToLower())"><img src="@Model.GetString("AuthorImage")" class="h-8 w-8 rounded-full object-cover object-cover"></a> <span class='tooltip-text bg-black text-gray-100 text-sm p-3 -mt-16 -ml-4 rounded'>@Model.GetString("Author")</span>
              </p>
              <p class=" text-xs lg:text-xs font-bold text-gray-300">@Model.GetString("ReadTime")</p>
            </div>
          </div>
      </div>
    }

</div>
