<!DOCTYPE html>
<!-- _post-layout.cshtml -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
@Html.Partial("partials/_head.cshtml")
<body class="flex flex-col min-h-screen bg-zinc-200 dark:bg-slate-800 text-zinc-800 dark:text-zinc-100">
  <!-- TODO: what does this do? -->
  <div className="fixed inset-0 flex justify-center sm:px-8">
    <div className="flex w-full max-w-7xl lg:px-8">
      <div className="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
    </div>
  </div>
  <!-- End TODO-->
  <div class="flex flex-col flex-grow mx-auto lg:max-w-6xl ">
    @Html.Partial("partials/_post-header.cshtml")
    <!-- Main  -->
    <main class="flex flex-col flex-grow w-full mx-auto mt-2">
      @Html.Partial("partials/_post-main-header.cshtml")
      <div
        class="w-3/4 p-2 mx-auto -mt-32 prose max-w-none lg:p-10 bg-zinc-200 dark:bg-slate-800 dark:prose-invert "
        @* class="p-2 mx-auto -mt-32 text-xl prose dark:prose-invert bg-zinc-200 dark:bg-slate-800 lg:prose-xl xl:prose-2xl" *@
      >
        @* Source: @Document.Source *@
        @* @Html.Partial("partials/_edit-in-github-link.cshtml") *@
        @RenderBody()
      </div>
      <!-- Footer of Main Section -->
      @Html.Partial("partials/_post-footer.cshtml")
    </main>
    @Html.Partial("partials/_footer.cshtml")
  </div>
  @Html.Partial("partials/_post-scripts.cshtml")
</body>
</html>
