@* @model BaseModel *@
@{
  string markdownPath = Document.Destination.ChangeExtension("md").ToString();
  string gitHubRepoUrl = "https://github.com/TheFreezeTeam/TheFreezeTeamBlog";
  string gitHubEditBaseUrl = $"{gitHubRepoUrl}/edit/master/Source/TheFreezeTeamBlog/input/{markdownPath}";
  string gitHubEditUrl = $"{gitHubEditBaseUrl}{markdownPath}";
  Uri gitHubEditUri = new Uri(gitHubEditUrl);

  string description = Document.GetString(WebKeys.Description);
  string author = Document.GetString(WebKeys.Author);
  string siteTitle = Document.GetString(TftKeys.SiteTitle);
  string pageTitle = Document.GetString(TftKeys.PageTitle);
  string postImageUrl = Document.GetLink(TftKeys.PostImageUrl);

  var rssFeeds = Outputs["**/*.rss"];
  var atomFeeds = Outputs["**/*.atom"];
  string link = Document.GetLink(true);
  string faviconLink = @Context.GetLink("/favicon.ico");

  string excerpt = Model.GetString(Keys.Excerpt);

  var image = Document.GetString(WebKeys.Image);

  int readTime = excerpt != null ? (excerpt.Length / 50) : 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
  @await Html.PartialAsync("partials/_Head.cshtml", new BaseModel(Document,Context))
</head>

@{
  string topMargin = "";
  if (image != null)
  {
    topMargin = "-mt-32";
  }
}
<body class="font-sans leading-normal tracking-normal bg-white">
  <script src="/resource/js/prismjs/prism.js"></script>
  <!-- Page Header -->

  @RenderSectionOrPartial("Header", "_header")

  <!-- Navigation -->
  <div class="lg:container lg:px-4 lg:px-0 lg:max-w-6xl mx-auto @topMargin">
    <div class="mx-0 sm:mx-6">
      <!-- Main Content -->
      <div class="container mx-auto lg:max-w-6xl">
        <div class="mx-0 sm:mx-6">
          <div id="postType" class="w-full p-4 font-light text-gray-800 bg-white lg:p-10">
            <div class="flex justify-end mb-6 -mt-4 text-sm font-normal">
              <div>
                @if (!string.IsNullOrEmpty(Document.GetString("SubFolderName")))
                {
                  <a class="flex" href="@gitHubEditUri" target="_blank">
                    Edit This Page
                    <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                  </a>
                }
                else
                {
                  <a class="flex" href="https://github.com/TheFreezeTeam/TheFreezeTeamBlog/edit/master/Source/TheFreezeTeamBlog/input/posts/@(Document.GetString("DocumentName")).md" target="_blank">
                    Edit This Page
                    <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                  </a>
                }
              </div>
            </div>
            @RenderBody()
          </div>
        </div>
      </div>
      @Html.Partial("_post-footer")
      <!-- Footer -->
      @Html.Partial("_subscription")
    </div>
  </div>
  @Html.Partial("_footer")

  @Html.Partial("_scripts")

  @RenderSection("Scripts", false)

  <!-- Custom scripts for this template -->
</body>
</html>
