@* @model BaseModel *@
@{
  string markdownPath = Document.Source.GetRelativeInputPath().ChangeExtension("md").ToString();

  string description = Document.GetString(WebKeys.Description);
  string author = Document.GetString(WebKeys.Author);
  string siteTitle = Document.GetString(TftKeys.SiteTitle);
  string pageTitle = Document.GetString(TftKeys.PageTitle);
  string postImageUrl = Document.GetLink(TftKeys.PostImageUrl);

  var rssFeeds = Outputs["**/*.rss"];
  var atomFeeds = Outputs["**/*.atom"];
  string link = Document.GetLink(true);
  string faviconLink = @Context.GetLink("/favicon.ico");

  string excerpt = Model.GetString(Keys.Excerpt);

  var image = Document.GetString(WebKeys.Image);

  int readTime = excerpt != null ? (excerpt.Length / 50) : 0;
  var x = Document.GetString("SubFolderName");
}
<!DOCTYPE html>
<html lang="en">
<head>
  @await Html.PartialAsync("partials/_Head.cshtml", new BaseModel(Document,Context))
</head>

@{
  string topMargin = "";
  if (image != null)
  {
    topMargin = "-mt-32";
  }
}
<body class="font-sans leading-normal tracking-normal bg-white">
  <script src="/resource/js/prismjs/prism.js"></script>
  <!-- Page Header -->

  @RenderSectionOrPartial("Header", "_header")

  <!-- Navigation -->
  <div class="lg:container lg:px-4 lg:px-0 lg:max-w-6xl mx-auto @topMargin">
    <div class="mx-0 sm:mx-6">
      <!-- Main Content -->
      <div class="container mx-auto lg:max-w-6xl">
        <div class="mx-0 sm:mx-6">
          <div id="postType" class="w-full p-4 font-light text-gray-800 bg-white lg:p-10">
            @await Html.PartialAsync("partials/_EditInGitHubLink.cshtml", new BaseModel(Document,Context))
            @RenderBody()
          </div>
        </div>
      </div>
      @Html.Partial("_post-footer")
      <!-- Footer -->
      @Html.Partial("partials/_subscription")
    </div>
  </div>
  @await Html.PartialAsync("_footer")

  @await Html.PartialAsync("_scripts")

  @RenderSection("Scripts", false)

  <!-- Custom scripts for this template -->
</body>
</html>
