@{
  BaseModel baseModel = new BaseModel(Document, Context);

  string body_bg = (baseModel.IsPost) ? "bg-white" : "bg-gray-200";

  //string markdownPath = Document.Destination.ChangeExtension("md").ToString();
  //string gitHubRepoUrl = "https:github.com/TheFreezeTeam/TheFreezeTeamBlog";
  //string gitHubEditBaseUrl = $"{gitHubRepoUrl}/edit/master/Source/TheFreezeTeamBlog/input/{markdownPath}";
  //string gitHubEditUrl = $"{gitHubEditBaseUrl}{markdownPath}";
  //Uri gitHubEditUri = new Uri(gitHubEditUrl);

  //string author = Document.GetString(WebKeys.Author);
  //string siteTitle = Document.GetString(TftKeys.SiteTitle);
  //string pageTitle = Document.GetString(TftKeys.PageTitle);
  //string coverImageUrl = Document.GetString(TftKeys.CoverImageUrl);

  //var rssFeeds = Outputs["**/*.rss"];
  //var atomFeeds = Outputs["**/*.atom"];
}

<!DOCTYPE html>
<html lang="en">
<head>
  @Html.Partial("partials/_head.cshtml", baseModel)
</head>

<body class="@body_bg font-sans leading-normal tracking-normal">
  <!-- Page Header -->
  @Html.Partial("partials/_main-header", baseModel)
  <!-- Navigation -->
  <div class="mx-auto -mt-32 lg:container lg:px-4 lg:px-0 lg:max-w-6xl">
    <div class="p-3 mx-0 sm:mx-6 lg:p-0">      
      <!-- Main Content -->
      @Html.Partial("partials/_navigation", baseModel)
      @if (baseModel.IsPost)
      {
        <div class="container lg:max-w-6xl mx-auto-mt-32">
          <div class="mx-0 sm:mx-6">
            <div id="postType" class="w-full p-4 text-gray-800 bg-white lg:p-10">
              @RenderBody()
            </div>
          </div>
        </div>
        @Html.Partial("partials/_post-footer.cshtml", baseModel)
      }
      else
      {
        @RenderBody()
      }
      <!-- Footer -->
      @Html.Partial("partials/_subscription.cshtml", baseModel)
    </div>
  </div>
  @Html.Partial("partials/_footer.cshtml", baseModel)

  <!-- Custom scripts for this template -->
  @Html.Partial("partials/_scripts.cshtml", baseModel)

  @RenderSection("Scripts", false)

</body>
</html>
