ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveKey: Tags
ArchiveKeyComparer: => StringComparer.OrdinalIgnoreCase.ToConvertingEqualityComparer()
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"tags/{NormalizedPath.OptimizeFileName(GetString("GroupKey"))}/index.html" : $"tags/{NormalizedPath.OptimizeFileName(GetString("GroupKey"))}/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: Tags
ArchiveTitle: => GetString("GroupKey")
ShowInNavbar: true
Layout: _main-layout
---

<div class="container lg:max-w-6xl mx-auto-mt-32">
  <div class="mx-0 sm:mx-6">
    <div class="flex flex-wrap w-full p-10 text-lg leading-normal text-gray-800 bg-white lg:rounded-lg">
      @if (Document.ContainsKey(Keys.GroupKey))
      {
        <div class="container-sm-height">
          <div class="row row-sm-height">
            <div class="col-md-6 right-border col-sm-height">
              @Html.Partial("partials/_posts.cshtml", new BaseModel(Document, Context ))
            </div>
            <div class="mt-4 col-md-4 mt-md-0 col-sm-height">
              @foreach (IDocument tag in OutputPages.Get("tags.html").GetChildren().OrderByDescending(x => x.GetChildren().Count()))
              {
                string badgeStyle = Document.GetString(Keys.GroupKey)
                  .Equals(tag.GetTitle(), StringComparison.OrdinalIgnoreCase) ? "badge-dark" : "badge-light";

                @*string postCount = tag.GetChildren().Count().ToString();
                  <a href="@Context.GetLink(tag)" class="badge @badgeStyle"> @tag.GetTitle() (@postCount)</a>*@
              }
            </div>
          </div>
        </div>
      }
      else
      {
        @foreach (IDocument tag in Document.GetChildren().OrderByDescending(x => x.GetChildren().Count()))
        {
          string postCount = tag.GetChildren().Count().ToString();
          <a role="button" href="@Context.GetLink(tag)" class="p-2 mb-4 mr-2 text-black transition duration-500 ease-in-out bg-gray-100 rounded w-max hover:bg-gray-300"> @tag.GetTitle() (@postCount)</a>
        }
      }
    </div>
  </div>
</div>
