@model BaseModel
@inherits StatiqRazorPage<BaseModel>

@{
  string? style = Model.HasCoverImage ? $"background-image: url('{Model.CoverImageUrl}'); height: 80vh;" : null;
  string? title = Document.GetString("Title");
}

@await Html.PartialAsync("_post-nav.cshtml")
<div class="w-7/12 pt-16 mx-auto text-center md:pt-10">
  <p class="text-sm font-medium text-blue-500 uppercase">
    @Model.Published <span class="text-gray-900">/</span>
    @if (Model.Tags != null)
    {
      @foreach
      (
        IDocument tag in
        Model
        .Tags
        .Select
        (
          x =>
            Model
            .TagsOutput
            .First()
            .GetChildren()
            .FirstOrDefault(y => y.GetTitle().Equals(x, StringComparison.OrdinalIgnoreCase))
        )
        .Where(x => x != null)
      )
      {
        <a href="@Context.GetLink(tag)"> @tag.GetTitle()</a>
      }
    }
  </p>
  <h1 class="text-3xl font-bold break-normal md:text-5xl">@Model.PageTitle</h1>
</div>
<!--image-->
<div
  class="container w-full h-2 mx-auto mt-8 bg-white bg-center bg-no-repeat bg-cover max-w-7xl lg:bg-cover lg:rounded lg:h-4"
  style="@style"
>
</div>
